@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;800&family=Montserrat&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Rubik+Doodle+Shadow&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Merienda;
  text-decoration: none;
}

body {
  background-color: rgb(255, 255, 255);
}

/* Preset Selectors */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sans {
  font-family: sans-serif!important;
}

.head {
  font-size: 24px;
  height: 125px;
  gap: 1.5rem;
}

/* Head Text */
.king_text {
  color: rgb(146, 93, 93);
}

.wizard_text {
  color: rgb(85, 85, 206);
}

.elf_text {
  color: rgb(69, 109, 69);
}

/* Description below head */
.lives_desc {
  margin-bottom: 24px;
  margin-top: -24px;
}

/* Description below lives */
.game_desc {
  gap: 8px;
  margin-bottom: 24px;
}

/* Selection box */
.choice_cn {
  border: 4px solid rgba(0, 0, 0, 0.75);
  height: 200px;
  width: 600px;
  justify-content: space-evenly;
}

.game_icon {
  height: 124px;
  width: 124px;
}

/* Results */
.result {
  height: 175px;
  width: 600px;
  margin: 24px 0 48px 0;
  border: 4px solid rgba(0, 0, 0, 0.75);
}

.winnerDiv {
  position: relative;
  bottom: 60%;
  left: 47%;
}

.winner {
  font-size: 15px;
}

.player_container {
  width: 200px;
  height: 175px;
  border-right: 4px solid rgba(0, 0, 0, 0.75);
  flex-direction: column;
}

/* Scores */
.score_list {
  gap: 16px;
  position: relative;
  left: 15%;
  bottom: 50%
}
.score_text {
  font-size: 12px;
}

/* Play again button */
.play_again {
  border: 3px solid rgba(153, 143, 143, 0.308);
  padding: 24px 36px 24px 36px;
  margin: -24px 36 24px 36px;
}

.play_again:hover {
  color: grey;
  cursor: pointer;
}

/* Footer */
.footer {
  margin-top: 58px;
  height: 100px;
  background-color: grey;
  flex-direction: column;
  gap: 10px;
  justify-self: end;
}

.icon_credit {
  color: white;
}

/* Attribute Selectors */
a:hover {
  color: black;
}

a:visited {
  color: white;
}

/* Icon Animation */
.game_icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.5);
  transform: scale(1.2);
  transition: all .5s;
}
